extends layout

block content

	div(class='bookshelf')
		div(class='shelf')
			div(class='row')
				ul
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/1/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/1/docs/np_1.pdf_1.jpg')
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/2/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/2/docs/np_2.pdf_1.jpg')
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/3/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/3/docs/np_3.pdf_1.jpg')
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/4/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/4/docs/np_4.pdf_1.jpg')
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/5/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/5/docs/np_5.pdf_1.jpg')

			div(class='row')
				ul
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/6/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/6/docs/np_6.pdf_1.jpg')

					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/7/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/7/docs/np_7.pdf_1.jpg')

					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/8/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/8/docs/np_8.pdf_1.jpg')

					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/9/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/9/docs/np_9.pdf_1.jpg')

					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/10/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/10/docs/np_10.pdf_1.jpg')

			div(class='row')
				ul
					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/11/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/11/docs/np_11.pdf_1.jpg')

					li(class='mag')
						a(href='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/12/index.html', target='_blank')
							img(src='https://dl.dropboxusercontent.com/u/1433808/retrogamemags/np/12/docs/np_12.pdf_1.jpg')
