doctype html
html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', type='text/javascript')
        script(src='/javascripts/retrogamemags.js', type='text/javascript')
        script(src='/javascripts/jquery-ui.min.js')
        script(src='/javascripts/jquery.tooltipster.min.js')
        script(src='/javascripts/jQDateRangeSlider-min.js')
        script(src='/javascripts/jquery-dateFormat.min.js')
        script(src='/javascripts/pako.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/tooltipster.css')
        link(rel='stylesheet', href='/stylesheets/tooltipster-shadow.css')
        link(rel='stylesheet', href='/stylesheets/iThing-min.css')
        script.
            var publications ='#{publications}';
            var config ='#{config}';
        script.
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-89018898-1', 'auto');
              ga('send', 'pageview');
    body
        div#background
        div#container
            div#maincolumn
                block content
